<h1>Order # <%= @order.id %> Confirmation Email </h1>
<h4>Hi <%= current_user.first %></h4>
<p>
  Thank you for placing your order at Jungle.
  Your order details are as follows:

  <% @order.line_items.each do |line_item| %>
    <p>
      Item Name: <%=  line_item.product.name %>
    </p>
    <p>
      Quantity: <%=  line_item.quantity %>
    </p>
    <p>
      <%= line_item.product.price * line_item.quantity %>
    </p>

  <% end %>

  Total Price : <%= humanized_money_with_symbol @order.total_cents/100.0  %>

  Your order will be shipped out shortly.
  Thank you,

  Jungle.
</p>